/* Custom Styles */
body.light-mode {
    background-color: #f8f9fa;
    color: #333;
  }
  
  body.dark-mode {
    background-color: #333;
    color: #f8f9fa;
  }
  
  .dark-mode .container {
    background-color: #444;
    color: #f8f9fa;
  }
  
  #activityDisplay {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  #activityDisplay.fade-in {
    opacity: 1;
  }
  
  #historyList .list-group-item {
    background-color: #f8f9fa;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dark-mode #historyList .list-group-item {
    background-color: #555;
    color: #f8f9fa;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    h1.display-4 {
      font-size: 2.5rem;
    }
    .btn-lg {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }